// font size
$font-size_title: 20px;

// color
$color_black: #0B1746;
$color_blue: #006FEA;
$color_grey: #D9DADD;
/*
  导航 navbar class
*/
@font-face {
  font-family: "Noto Sans SC";
  src: url("/assets/fonts/SourceHanSansCN-Medium.otf");
}

@font-face {
  font-family: "Font Quan Xin Yi Guan Hei Ti";
  src: url("/assets/fonts/Fontquan-XinYiGuanHeiTi.ttf");
}

@font-face {
  font-family: "Source Han Sans Bold";
  src: url("/assets/fonts/SourceHanSansCN-Bold.otf");
}

.navbar-title {
  font-size: $font-size_title;
  color: $color_black;
  font-family: "Noto Sans SC", sans-serif;
}

.navbar-title_info {
  font-family: "Font Quan Xin Yi Guan Hei Ti";
  color: $color_blue;
}

.navbar-menu_logo {
  margin-left: 50px;
  @media screen and (max-width: 1024px) {
    margin-left: 0px;
  }
}

.navbar-column_layout {
  float: left;
  display: flex;
  list-style: none;
}

.navbar-title_a {
  font-size: 19px;
  font-family: "Font Quan Xin Yi Guan Hei Ti";
  color: $color_blue;
}

.navbar-back_announcement {
  background: $color_blue;
  border-radius: 7px;
  color: #ffffff;
  font-family: "Font Quan Xin Yi Guan Hei Ti";
  @media screen and (max-width: 1024px) {
    height: 39px;
    margin-top: 16px;
  }
}

.navbar-style_width {
  width: 1444px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

/*
  标签选择
 */
.tabs li.is-active.is-active_this a {
  border-bottom-color: $color_blue;
  border-bottom: 3px solid $color_blue;
}

.active-mouse_over:hover span {
  color: $color_blue;
  transition: all 0.08s;
}

.active-mouse_over:hover over {
  color: $color_black;
  transition: all 0.08s;
}

li.is-active a:hover{
  border-bottom-color: $color_blue;
  border-bottom: 3px solid $color_blue;
  transition: all 0.08s;
}

.tabs-title {
  font-family: "Noto Sans SC";
  font-size: 18px;
  color: $color_black;
}

.istabs {
  font-family: "Noto Sans SC";
  color: $color-grey;
  font-size: 18px;
}
.istabs-info {
  font-family: "Font Quan Xin Yi Guan Hei Ti";
  color: $color-grey;
  font-size: 18px;
}
.tabs-title_info {
  font-family: "Font Quan Xin Yi Guan Hei Ti";
  font-size: 18px;
  color: $color_blue;
  .istabs-title{
    color: $color_grey;
  }
}

// banner .swiper
.swiper {
  width: 1440px;
  height: 285px;
}

.swiper-slide {

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-title {
  font-family: "Source Han Sans Bold";
  font-size: 25px;
  color: $color_blue;
  margin-bottom: 12px;
  margin-top: 50px;
}

.swiper-title span {
  font-size: 30px;
  color: $color_black;
}

.swiper-button {
  border-radius: 0;
  height: 21px;
  background: #006FEA;
  color: #FFF;
}

.swiper-button:hover {
  color: #FFFFFF;
}

.swiper-button:focus {
  color: #FFFFFF;
}

.swiper-button_next:after {
  content: '';
  background: url("/assets/img/202205192012436.png");
  display: inline-block;
  width: 46px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 10px;
  margin-top: 5px;
}

.swiper-button:hover .swiper-button_next:after {
  content: '';
  background: url("/assets/img/202205192012436.png");
  display: inline-block;
  width: 46px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 20px;
  margin-top: 5px;
  transition: all 0.08s;
}
